*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif; }

::selection {
  background-color: #20b2aa;
  color: #000; }

.heading-primary {
  color: #000;
  padding: 2rem 2rem 1.5rem 2rem;
  width: 20rem;
  font-size: 4rem;
  text-align: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  text-transform: lowercase;
  transition: all .3s; }
  .heading-primary:hover {
    box-shadow: 1rem 1rem 0rem rgba(255, 255, 255, 0.4); }

.text-chunk {
  font-size: 3rem;
  line-height: 4.5rem;
  color: white;
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 5rem 0; }

.header__hero {
  width: 100%;
  height: 100vh;
  background-image: url(../img/glacier_1_m_bw.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header__hero {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 83vh, 50% 94vh, 0 83vh);
      clip-path: polygon(0 0, 100% 0, 100% 83vh, 50% 94vh, 0 83vh); } }

.header__cluster {
  position: fixed;
  margin: 20vh 0 0 2%;
  width: 46rem; }

.header__title {
  font-size: 10rem;
  color: #000;
  font-weight: 900;
  position: relative; }
  .header__title-word {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    padding: 4rem 2rem 0rem 2rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5); }
    .header__title-word:first-child {
      width: 27rem;
      z-index: 2; }
    .header__title-word:last-child {
      margin-top: -2rem; }
  .header__title-skills {
    position: relative;
    width: 46rem;
    height: 5.4rem;
    background-color: #df3636;
    border-top: .5rem solid black;
    color: black;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    text-transform: lowercase;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5); }

.navigation {
  display: block;
  position: fixed;
  height: 5rem;
  width: 50rem;
  right: 0;
  z-index: 2; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    padding-top: 2rem;
    width: 24%;
    text-align: center;
    display: inline-block; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 3rem;
    padding: 2rem 2rem 1.6rem 2rem;
    text-decoration: none;
    color: #000;
    transition: all .4s;
    background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #000 50%);
    background-size: 300%; }
  .navigation__link:hover, .navigation__link:active {
    color: #fff;
    background-position: 100%; }
  .navigation:hover .navigation__link:not(:hover) {
    text-decoration: line-through #df3636; }

main {
  filter: drop-shadow(0px -5px 10px rgba(0, 0, 0, 0.6)); }

.section-about {
  height: 112vh;
  width: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  padding-top: 10vh;
  position: relative;
  margin-top: 0; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .section-about {
      -webkit-clip-path: polygon(0 0, 50% 11vh, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 50% 11vh, 100% 0, 100% 100%, 0 100%);
      margin-top: -12vh;
      padding-top: 20vh; } }

.section-cave {
  height: 110vh;
  width: 100%;
  background-image: url(../img/cave_L.jpg);
  background-size: cover;
  background-position: center; }

.section-separator {
  height: 20vh;
  width: 100%;
  margin-top: -1vh;
  background-color: #000;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 94vh, 0 83vh);
  clip-path: polygon(0 0, 100% 0, 100% 10vh, 50% 100%, 0 10vh); }
