$color-white: #fff;
$color-black: #000;
$color-red: #df3636;
$color-seagreen: #20b2aa;
$color-gray-dark-3: #333;
$cyan: #60daaa;


$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$default-font-size: 1.6rem;