.header {

    &__hero {
        width: 100%;
        height: 90vh;
        background-image: url(../img/glacier_blur.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        pointer-events: none;
        //transition: all .5s;
        overflow: hidden;

        /*&:hover {
            background-image: url(../img/glacier_blur.png);
        }*/

      /* @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 83vh, 50% 94vh, 0 83vh);
            clip-path: polygon(0 0, 100% 0, 100% 83vh, 50% 94vh, 0 83vh);
        }*/
    }

    &__cluster {
        position: fixed;
        //margin: 20vh 0 0 2%;
        margin: 0 auto 10vh auto;
        width: 100%;
        bottom: 0;
        text-align: center;
    }

    @keyframes titleUp {
        0% { 
            transform: translateY(20vh); 
            opacity: 0;
        }
        10% { 
            transform: translateY(20vh); 
            opacity: 0;
        }
        100% { 
            transform: translateY(0); 
            opacity: 1;
        }
    }

    &__title {
        font-size: 14vw;
        color: $color-white;
        font-weight: 900;
        pointer-events: auto;
        line-height: 6vw;
        opacity: 1;
        animation: titleUp 2s ease;
        transition: 1s;
        cursor: pointer;

        &:hover {
            transform: translateY(1vh); 
            letter-spacing: -.5vw;
            color: rgba($color-seagreen,.8);
        }

    }

}