.header {

    &__hero {
        width: 100%;
        height: 90vh;
        /*
         * Background image is in body to deal with bug on Edge/IE
         * that causes jittery scrolling on fixed background images
        */
        &__image {
            object-fit: cover;
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    &__cluster {
        position: fixed;
        margin: 0 auto 10vh auto;
        width: 100%;
        bottom: 0;
        text-align: center;
    }

    @keyframes titleUp {
        0% { 
            transform: translateY(20vh); 
            opacity: 0;
        }
        10% { 
            transform: translateY(20vh); 
            opacity: 0;
        }
        100% { 
            transform: translateY(0); 
            opacity: 1;
        }
    }

    &__title {
        font-size: 14vw;
        color: $color-white;
        font-weight: 900;
        line-height: 6vw;
        opacity: 1;
        animation: titleUp 2s ease;
        transition: 1s;
        cursor: pointer;

        &:hover {
            transform: translateY(1vh); 
            letter-spacing: -.5vw;
            color: rgba($color-seagreen,.8);
        }

    }

}