.header {


   /* @keyframes openDown {
        0% {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 83vh, 0 83vh, 0 83vh);
            clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100vh, 0 83vh);
        }
        30% {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 83vh, 0 83vh, 0 83vh);
            clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100vh, 0 83vh);
        }
        100% {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 83vh, 50% 94vh, 0 83vh);
            clip-path: polygon(0 0, 100% 0, 100% 83vh, 50% 94vh, 0 83vh);
        }
    }*/




    &__hero {
        width: 100%;
        height: 100vh;
        background-image: url(../img/glacier_blur.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        pointer-events: none;
        //transition: all .5s;
        overflow: hidden;

        /*&:hover {
            background-image: url(../img/glacier_blur.png);
        }

       /*@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 83vh, 50% 94vh, 0 83vh);
            clip-path: polygon(0 0, 100% 0, 100% 83vh, 50% 94vh, 0 83vh);
            animation: openDown 3s;
        }*/
    }

    &__cluster {
        position: fixed;
        margin: 20vh 0 0 2%;
        width: 46rem;
    }

    &__title {
        font-size: 10rem;
        color: $color-black;;
        font-weight: 900;
        pointer-events: auto;

        &-word {
            background-color: rgba($color-white,.5);
            position: relative;
            padding: 4rem 2rem 0rem 2rem;
            box-shadow: 0 2rem 4rem rgba($color-black,.5);

            &:first-child {
                width: 27rem;
                z-index: 2;
            }

            &:last-child {
                margin-top: -2rem;
            }
        }

        &-skills {
            position: relative;
            width: 46rem;
            height: 5.6rem;
            background-color: $color-red;
            border-top: .5rem solid black;
            color: black;
            font-size: 3rem;
            padding: 1rem;
            text-align: center;
            text-transform: lowercase;
            box-shadow: 0 2rem 4rem rgba($color-black,.5);
            pointer-events: auto;
        }


    }

}