.navigation {
    display: block;
    position: fixed;
    height: 5rem;
    width: 50rem;
    right: 0;
    z-index: 2;

    &__list {
        list-style: none;
    }

    &__item {
        padding-top: 2rem;
        width: 24%;
        text-align: center;
        display: inline-block;
    }

    &__link {
        &:link,
        &:visited {
            font-size: 3rem;
            padding: 2rem 2rem 1.6rem 2rem;
            text-decoration: none;
            color: $color-black;
            transition: all .4s;
            background-image: linear-gradient(135deg, transparent 0%, transparent 50%, $color-black 50%);
            background-size: 300%;
        }

        &:hover,
        &:active {
            color: $color-white;
            background-position: 100%;
        }
    }

    &:hover &__link:not(:hover) {
        text-decoration: line-through $color-red;
    }
}
