.work__projects {
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    margin: 0 auto;
    background-color: white;

    @include respond(tab-port) {
        width: 100%;
    }

    &__category {
        width: 100%;
        text-align: center;
        font-size: 8vw;
        font-weight: 700;
        text-transform: uppercase;
        margin: 3rem auto 0 auto;

        @include respond(tab-port) {
            font-size: 10.5vw;
        }
    }

    &__container {
        width: 65%;
        height: 50vh;
        margin: 4rem auto;
        overflow: hidden;
        transition: all .4s;
        position: relative; 

        @include respond(tab-port) {
            width: 85%;
        }
        
        &:last-child {
            margin: 4rem auto 7rem auto;
        }

            @keyframes hoverTransitionIn {
                0% {
                    width: 65%;
                    height: 50vh;
                }
                40% {
                    width: 70%;
                    height: 50vh;
                }
                100% {
                    width: 70%;
                    height: 80vh;
                }
            }

            @keyframes hoverTransitionOut {
                0% {
                    width: 70%;
                    height: 80vh;
                }
                40% {
                    width: 70%;
                    height: 50vh;
                }
                100% {
                    width: 65%;
                    height: 50vh;
                }
            }
        

        @include respond(tab-port) {
            @keyframes hoverTransitionIn {
                0% {
                    width: 85%;
                    height: 50vh;
                }
                40% {
                    width: 90%;
                    height: 50vh;
                }
                100% {
                    width: 90%;
                    height: 75vh;
                }
            }

            @keyframes hoverTransitionOut {
                0% {
                    width: 90%;
                    height: 75vh;
                }
                40% {
                    width: 90%;
                    height: 50vh;
                }
                100% {
                    width: 85%;
                    height: 50vh;
                }
            }
        }

        @include respond(phone) {
            @keyframes hoverTransitionIn {
                0% {
                    width: 85%;
                    height: 50vh;
                }
                40% {
                    width: 90%;
                    height: 50vh;
                }
                100% {
                    width: 90%;
                    height: 85vh;
                }
            }

            @keyframes hoverTransitionOut {
                0% {
                    width: 90%;
                    height: 85vh;
                }
                40% {
                    width: 90%;
                    height: 50vh;
                }
                100% {
                    width: 85%;
                    height: 50vh;
                }
            }
        }

        
        // add this to a class to add when clicked to close
       
        &__grow {
            animation: hoverTransitionIn .8s;
            width: 70%;
            height: 80vh;

            @include respond(tab-port) {
                height: 75vh;
                width: 90%;
            }

            @include respond(phone) {
                height: 85vh;
            }
        }

        &__shrink {
            animation: hoverTransitionOut .8s;
            width: 65%;
            height: 50vh;

            @include respond(tab-port) {
                width: 85%;
            }
        }
    }

    &__box {
        width: 100%;
        height: 50vh;
        cursor: pointer;
        transition: all .3s;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-size: cover;
        background-position: center;
        filter: contrast(110%) brightness(110%);

        // only allow hover on non-mobile devices
        @media not all and (hover: none) {
            &:hover &__title {
                background-color: rgba($color-black,.8);
            }
        }

        &__title {
            width: fit-content;
            height: fit-content;
            color: $color-white;
            padding: 2rem;
            transition: all .7s;
            background-color: none;

            &__back {
                background-color: rgba($color-black,.5);
            }

            &__noBack {
                background-color: none;
            }

            &__main {
                font-size: 4rem;
                font-weight: 700;
                margin-bottom: .5rem;
                transition: all .3s;
            }

            &__cat {
                display: inline-block;
                font-size: 1.8rem;
                border-top: .3rem solid $color-red;
                padding-top: .6rem;
                transition: all .3s;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }

        &-1 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-black, 0.2), 
                rgba($color-black, 0.2)), 
            url('../img/intro_main.jpg');
        }

        &-2 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-black, 0.2), 
                rgba($color-black, 0.2)), 
            url('../img/explore_four.png');
            background-position: top;
        }

        &-3 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-black, 0.2), 
                rgba($color-black, 0.2)), 
            url('../img/memory-game.png');
        }

        &-4 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-black, 0.2), 
                rgba($color-black, 0.2)), 
            url('../img/arcade_game.png');
        }

        &-5 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-black, 0.2), 
                rgba($color-black, 0.2)), 
            url('../img/turcios.png');
            background-position: top;
        }

        &-6 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-black, 0.2), 
                rgba($color-black, 0.2)), 
            url('../img/prince.png');
            background-position: top;
        }

        &-7 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-black, 0.2), 
                rgba($color-black, 0.2)), 
            url('../img/nduwikunda.jpg');
            background-position: top;
        }

        &-8 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-black, 0.2), 
                rgba($color-black, 0.2)), 
            url('../img/kurkas.png');
            background-position: top;
        }

    }

    &__desc {
        width: 100%;
        height: 30vh;
        z-index: 1;
        position: absolute;
        font-size: 1.6rem;
        line-height: 2rem;
        display: flex;
        flex-wrap: wrap;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        letter-spacing: 1px;

        &__text {
           width: 100%;
           padding: 1rem 0 0 0;
           line-height: 2.2rem;
           text-align: center;
        }

        &__built-with {
            margin-top: 1.8rem;
            display: inline-block;
        }

        &__links {
            width: 100%;
            margin: 0 0 1.5rem 0;
            text-align: center;

            & a {
                text-decoration: none;
                display: inline-block;
                position: relative;
                z-index: 1;
                padding: .8rem 1rem .5rem 1rem;
                color: $color-black;
                text-transform: uppercase;
                margin-right: 2rem;
                letter-spacing: 1px;
                transition: all .3s;
                text-align: center;
                border-bottom: .3rem solid $color-red;
                font-size: 2rem;

               &:after {
                    content: "";
                    position: absolute;
                    padding: .8rem 1rem .5rem 1rem;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: scaleY(0);
                    transform-origin: bottom center;
                    background-color: $color-red;
                    color: $color-white;
                    z-index: -1;
                    transition: transform .2s;
                }

                &:hover {
                    color: $color-white;
                }
                &:hover::after {
                    transform: scaleY(1);
                    color: $color-white;
                }
            }
        }
    }

}