/*.button {
        width: 100%;
        height: 50%;
        background-color: $color-black;
        color: white;
        text-align: center;
        letter-spacing: 1px;
        font-size: 2rem;
        outline: none;
        border: none;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        transition: all .2s;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;

    &:hover {
        background-color: $color-red;
    }

}

a {
    text-decoration: none;
}*/