.contact {

    &__header {
        font-size: 15vw;
        line-height: 14vw;
        color: white;
        font-weight: 900;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        overflow: hidden;
    }

    &__content-message {
        width: 70%;
        height: fit-content;
        text-align: center;
        margin: 8rem auto 0 auto;
        color: $color-white;
        font-size: 2rem;
        line-height: 3rem;

        @include respond(tab-port) {
            margin: 16rem auto 0 auto;
        }

        @include respond(phone) {
            margin: 5rem auto 0 auto;
        }
    }

    &__content-links {
        width: 100%;
        display: inline-block;
        font-size: 4rem;
        text-align: center;
        margin: 3rem auto 0 auto;
        cursor: pointer;

        @include respond(phone) {
            font-size: 3rem;
        }

        & i {
            padding: 0 1rem;
        }

        & a {
            text-decoration: none;
            color: $color-seagreen;
            transition: all .3s;

            &:hover {
                color: $color-white;
            }
        }
    }
}