*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;  // 1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    /* 
     * Put background image here to deal with Edge/IE bug that
     * causes jittery scrolling on fixed background images
    */
    /*
    background-image: url(../img/glacier.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    */
}

::selection {
    background: $color-red;
    color: $color-white;
}