main {
    filter: drop-shadow(0px -5px 10px rgba(0,0,0,0.6));
}

.section-about {
    height: 112vh;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    padding-top: 20vh;
    clip-path: polygon(0 0, 50% 11vh, 100% 0, 100% 100%, 0 100%);
    margin-top: -12vh;
    position: relative;
}

.section-cave {
    height: 110vh;
    width: 100%;
    background-image: url(../img/cave_L.jpg);
    background-size: cover;
    background-position: center;
}

.section-separator {
    height: 20vh;
    width: 100%;
    margin-top: -1vh;
    background-color: $color-black;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 94vh, 0 83vh);
    clip-path: polygon(0 0, 100% 0, 100% 10vh, 50% 100%, 0 10vh);
}
